:root {
  --gray: #e5e2d2;
  --white: #2e2e2e;
}

html,
body {
  margin: 0;
  background: var(--gray);
  color: var(--white);
  font-family: monospace;
  overflow: hidden;
}

a {
  color: inherit;
  font-style: normal;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 100;
  font-style: normal;
  color: var(--white);
}

#mainTitle {
  font-size: 4rem;
  text-align: center;
}

.centerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  gap: 1rem;
}

.projectGrid {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.projectBox {
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  border-radius: 10px;
  border: 2px solid var(--white);
  padding: 10px;
  background: var(--gray);
  z-index: 1;
}

.projectTitle {
  text-align: center;
}

.svgLeaf{
  filter:invert(0.5);
}

.orangeSpan{
  color:orange;
}